body{
font-family: Arial;
background:#0b0b0b;
color:white;
margin:0;
}

header{
text-align:center;
padding:30px;
background:black;
}

header input{
padding:10px;
width:250px;
margin-top:10px;
border-radius:5px;
border:none;
}

nav{
text-align:center;
padding:15px;
background:#111;
}

button{
padding:10px 20px;
margin:5px;
border:none;
background:#007bff;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#00a2ff;
}

#productos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#1a1a1a;
padding:15px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
border-radius:5px;
}

.precio{
color:#00ff9f;
font-size:20px;
font-weight:bold;
}

footer{
text-align:center;
padding:20px;
background:black;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50px;
text-decoration:none;
font-size:18px;
}